{% extends "ProyectoWebDefensores/base.html"%}
{% load static %}



{%block content%}
<title>Defensores de la Fe RD | Aviso Legal</title>


<div class= "contenedorPresentacion">
    <h3>Movimiento Defensores de la Fe Cristiana RD</h3>
    
    <div class="divisor"></div>
    
    <p class="headSubtitle">Aviso Legal</p>
</div>

<div class="contenedorCredo">
    <h3 class="fw-normal d-flex justify-content-center">Movimiento Defensores de la Fé Cristiana República Dominicana</h3>
    <h3><strong>Aviso Legal</strong></h3>
    <br><br>
<ol>
    <li>
        <h4>Propiedad Intelectual</h4>
        <p>Todos los contenidos de este sitio web, incluidos textos, imágenes, logotipos, gráficos y cualquier otro
            material, son propiedad del Movimiento Defensores de la Fe Cristiana o se utilizan con permiso de los
            propietarios legítimos. Estos materiales están protegidos por leyes de propiedad intelectual y no pueden
            ser utilizados sin autorización expresa.</p>
    </li>
    <li>
        <h4>Uso del Sitio</h4>
        <p>El uso de este sitio web está sujeto a los siguientes términos:</p>
        <ul>
            <li>Los usuarios deben utilizar este sitio web de manera legal y ética, sin infringir los derechos de
                terceros ni violar ninguna ley o regulación aplicable.</li>
            <li>No está permitido realizar actividades que puedan causar daños, interferencias o alteraciones en el
                funcionamiento del sitio web o de los sistemas conectados.</li>
            <li>El Movimiento Defensores de la Fe Cristiana se reserva el derecho de modificar, suspender o
                interrumpir el sitio web en cualquier momento y sin previo aviso.</li>
        </ul>
    </li>
    <li>
        <h4>Enlaces a Terceros</h4>
        <p>Este sitio web puede contener enlaces a sitios de terceros que son proporcionados únicamente para su
            conveniencia. El Movimiento Defensores de la Fe Cristiana no controla ni asume responsabilidad por el
            contenido, la precisión o las prácticas de privacidad de estos sitios.</p>
    </li>
    <li>
        <h4>Limitación de Responsabilidad</h4>
        <p>El Movimiento Defensores de la Fe Cristiana no será responsable de ningún daño directo, indirecto,
            incidental, especial, consecuente o punitivo que surja del uso o la imposibilidad de uso de este sitio
            web.</p>
    </li>
    <li>
        <h4>Modificaciones del Aviso Legal</h4>
        <p>El Movimiento Defensores de la Fe Cristiana se reserva el derecho de actualizar o modificar este aviso
            legal en cualquier momento sin previo aviso. Se recomienda a los usuarios que revisen periódicamente esta
            página para estar al tanto de cualquier cambio.</p>
    </li>
</ol>

<p>Si tiene alguna pregunta o inquietud sobre este aviso legal, no dude en ponerse en contacto con nosotros.</p>

<p>Última actualización: Agosto <span class="id">{{ next_year }}</span></p>

</div>
{%endblock%}