{% extends "ProyectoWebDefensores/base.html"%}
{% load static %}



{%block content%}
<title>Defensores de la Fe RD | Cookies</title>
<div class= "contenedorPresentacion">
    <h3>Movimiento Defensores de la Fe Cristiana RD</h3>
    
    <div class="divisor"></div>
    
    <p class="headSubtitle">Cookies</p>
</div>

<div class="contenedorCredo">
    <h3 class="fw-normal d-flex justify-content-center">Movimiento Defensores de la Fé Cristiana República Dominicana</h3>
    <h4><strong>Cookies</strong></h4>
    <p>
        Nuestro sitio web utiliza cookies para mejorar tu experiencia de usuario y proporcionarte servicios personalizados. Al acceder y utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con esta política. Esta política de cookies explica qué son las cookies, cómo las utilizamos y cómo puedes controlar su uso.
    </p>

    <h4><strong> ¿Qué son las cookies?</strong></h4>
<p>
Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (como tu ordenador, teléfono móvil o tablet) cuando visitas nuestro sitio web. Estas cookies contienen información que se utiliza para mejorar la experiencia de usuario y recordar tus preferencias cuando vuelvas a visitarnos.
Tipos de cookies que utilizamos:
</p>
<p>
<strong>Cookies esenciales: </strong>Estas cookies son necesarias para el funcionamiento básico de nuestro sitio web y te permiten navegar por el mismo y utilizar sus funciones.
Cookies de rendimiento: Utilizamos estas cookies para recopilar información sobre cómo utilizas nuestro sitio web, como las páginas que visitas con mayor frecuencia. Esto nos ayuda a mejorar el rendimiento de nuestro sitio y ofrecerte una experiencia de usuario mejorada.
</p>

<p>
<strong>Cookies de funcionalidad: </strong>Estas cookies se utilizan para recordar tus preferencias y proporcionarte funciones personalizadas, como recordar tu nombre de usuario o tus preferencias de idioma.
Cookies de publicidad: Utilizamos estas cookies para mostrar anuncios relevantes para ti y tus intereses. También pueden ser utilizadas por terceros seleccionados para mostrarte anuncios en función de tu actividad en nuestro sitio web.

</p>
<p>
<strong>Control de cookies:</strong>

Puedes controlar y administrar las cookies en tu dispositivo. La mayoría de los navegadores web te permiten gestionar tus preferencias de cookies a través de la configuración del navegador. Esto te permite aceptar o rechazar cookies, así como eliminar las cookies existentes.
Ten en cuenta que si optas por deshabilitar o rechazar las cookies, es posible que algunas partes de nuestro sitio web no funcionen correctamente o que no puedas acceder a ciertas funciones.
Cambios en nuestra política de cookies:

Nos reservamos el derecho de modificar esta política de cookies en cualquier momento. Cualquier cambio en esta política será efectivo tan pronto como se publique la versión actualizada en nuestro sitio web.
Si tienes alguna pregunta o inquietud sobre nuestra política de cookies, no dudes en contactarnos a través de los canales proporcionados en nuestro sitio web.
</p>

<p><strong>Fecha de vigencia: </strong>Agosto <span class="id">{{ next_year }}</span></p>
    



</div>


{%endblock%}