{% extends "ProyectoWebDefensores/base.html"%}
{% load static %}

{%block content%}


    <title>Defensores de la Fe RD | Credo</title>

    <div class= "contenedorPresentacion">
        <h3>Movimiento Defensores de la Fe Cristiana RD</h3>
        
        <div class="divisor"></div>
        
        <p class="headSubtitle">Credo</p>
    </div>
    <div class="contenedorCredo">
        <br><p>
            <h4><strong>Preámbulo</strong></h4>

            
            Nosotros, los miembros del Movimiento Defensores de la Fe Cristiana Inc. movidos por la convicción de que la voluntad de Jesucristo 
            es que los creyentes en Él estén unidos eficazmente en amor, esforzándose por la expansión de su Reino, y conscientes de que este 
            movimiento ha crecido notablemente, nos hemos organizado con el siguiente credo, Constitucion y Reglamento.
        </p>
        <h4><strong>Credo</strong></h4>
        <br><br>
        <h4><strong>Verdades Fundamentalas</strong></h4>
        <ol>
            <li>
            <strong> EL DIOS ÚNICO Y VERDADERO </strong><br><p>
            Creemos en Dios único, verdadero y eterno que se ha revelado a sí mismo como "yo soy el que soy" de existencia propia desde la eternidad; 
        que personifica los principios de relación y asociación de la trinidad (Padre, Hijo y Espíritu Santo); <br> 
        (Ex. 3:14; Deut. 6:4; Mateo 28:19; Marcos 12:29; Revelaciones 1:8)</p></li>
            <li>
              <strong>  LA DIVINA TRINIDAD </strong><br>
            <p> Creemos en la Santa Trinidad como lo declaran las Sagradas Escrituras. Dios es manifestado en tres personas a saber: PADRE, HIJO y ESPÍRITU SANTO, 
        disintos en cuanto a ministerios, más de un carácter y armonía tan perfectos que constituyen solo un Dios (Gen. 1:26, Mateo 3:16-17, Mateo 28:19, 2 Corintios 13:14, 1 Juan 5:7)</p></li>
            
            <li> <strong> LA CREACIÓN DEL HOMBRE </strong><br>
                <p>Creemos en el hombre que fue creado a imagen y semejanza divina, sin pecado y en perfecta comunión con el Dios creador.
                    Fué revestido de atributos de santidad, sabiduría, justicia y libre albedrío (Gen. 1:26-30; 2:15-16)
                </p>
            </li>

            <li>
                <strong>LA CAÍDA DEL HOMBRE</strong><br>
                <p>Creemos que el hombre cayó por la transgresión de la ley de Dios, por decisión propia y vonluntaria, y su única
                    esperanza de redención reside en el amor de Dios encarnado en el Señor Jesucristo (Gen. 3:15)
                </p>
            </li>

            <li>
                <strong>LA SALVACIÓN</strong>
                <p>Creemos que el hombre es salvo por gracia mediante el sacrificio de Cristo en la Cruz del Calvario (Efesios 2:8); justificado por la fé en Dios (Rom. 5:1); 
                    y heredero de una vida eterna, conforme a la promesa de Dios (Juan 3:16; Gal. 3:29 y Tito 3:7). 
                La salvación obtenida al creer en Cristo es inmediata (Lucas 19); (Juan 5:24) y es indispensable permanecer en
                Él para conservarla (Mateo 24:13).</p>
            </li>
            <li>
                <strong>BAUTISMO EN AGUA</strong>
                <p>Creemos en la ordenanza del Bautismo en agua por inmersión; en el nombre del Padre, del Hijo y del Espíritu Santo, tal como lo enseñan las Sagradas Escrituras (Mateo 28:19). 
                    Al hacerlo así, se lava el cuerpo enagia como símbolo de un lavamiento interno, mientras el corazón ha sido rociado por la sangre de Cristo. 
                    De esta manera se declara ante el mundo que se ha muerto al pecado con Jesús, levantándose en novedad de vida (Hechos 10:17; Rom 6:4; Col 2:12). 
                    Debe ser administrado a todos aquellos que creen en el Señor Jesucristo como Salvador personal (Marcos 16:16; Hechos 8:36-37)
                </p>
            </li>

            <li>
                <strong>LA CENA DEL SEÑOR</strong>
                <p>
                    Creemos que la cena, consistente en los elementos del pan y el jugo de la vid, es el sacramento que expresa nuestra participación en la naturaleza 
                    divina del Señor; en recuerdo de su sacrificio ordenada por Él a sus creyentes hasta que venga. Por creyente debe entenderse, miembro bautizado en agua, en plena comunión.
                </p>
            </li>
            <li>
                <strong>EL BAUTISMO DEL ESPÍRITU SANTO</strong>
                <p> Creemos que todos los creyentes tienen la oportunidad de recibir la Promesa del Padre concerniente al bautismo del Espíritu Santo. 
                    Es por esto que todo creyente debe esperar y anhelar esta experiencia. Con el bautismo del Espíritu Santo se recibe el poder para vivir una vida santa en su presencia, trabajar en su viña 
                    y en su obra en general.
                </p>
            </li>

            <li>
                <strong>SANTIFICACIÓN</strong>

                <p>
                    Creemos que es necesario vivir una vida de santidad sin la cual nadie verá al Señor, según nos enseñan las Sagradas Escrituras (Heb 12:14). 
                    Por el poder del Espíritu Santo podemos obedecer el mandamiento que dice: "Santo seréis, porque santo soy dice Jehová vuestro Dios" (Lev 19:2).
                </p>
            </li>
            <li>
                <strong>LA IGLESIA</strong>

                <p>
                    Creemos que la iglesia es el cuerpo de Cristo; la habitación de Dios por medio del Espíritu Santo, con designaciones divinas para el cumplimiento de 
                    la Gran Comisión. Todo creyente lavado con la sangre de Cristo, nacido de nuevo, constituye parte integran de la iglesia de Dios. (Efesios 1:22-23; 1 Corintios 12:27)
                </p>
            </li>

            <li>
                <strong>LA GRAN COMISIÓN</strong>

                <p>
                    Creemos que hemos sido comisionados por el Señor Jesucristo para continuar su obra, cumplimiendo la encomienda de predicar el Evangelio a toda criatura en todo el mundo. (Mateo 28:19; Marcos 16:15-20)
                </p>
            </li>

            <li>
                <strong>LA INSPIRACIÓN DE LAS SAGRADAS ESCRITURAS</strong>

                <p>
                    Creemos que la Biblia es la Palabra de Dios inspirada por Él; la única regla infalible de fé y conducta, superior a la 
                    consiencia y a la razón, pero no contraria a estas (2 Tim. 3:15-16; 2 Pedro 1:19-21). La Biblia es su propio intérprete 
                    y manifiesta al mundo la realidad divina en toda su amplitud. (Juan 5:39)
                </p>
            </li>

            <li>
                <strong>LA SANIDAD DIVINA</strong>
                <p>
                    Creemos en la promesa bíblica relativa a la Sanidad Divina, ya que la liberación de las enfermedades está provista 
                    en la expiación de Cristo y constituye un privilegio a toda la humanidad (Isaías 53:4-5; Salmo 103:3; Mateo 8:16; Santiago 5:14-15).
                </p>
            </li>

            <li>
                <strong>EL RAPTO DE LA IGLESIA, LA SEGUNDA VENIDA DE CRISTO Y EL REINO MILENIAL</strong>

                <p>
                    Creemos en la revelación del Señor Jesús desde el cielo (Rapto), la salvación de la nación de Israel (Batalla de Armagedón)
                    y el Reino Milenario de Cristo sobre la tierra comenzando con su segunda venida, son promesas bíblicas (Mateo 24:27-31; 1 Tes. 4:13-17; 2 Tes. 1:7; Apocalipsis 19:11-21; 20:1-7)
                </p>
            </li>


        </ol>
    </div>
 {%endblock%}


