{% extends "ProyectoWebDefensores/base.html"%}
{% load static %}



{%block content%}
<title>Defensores de la Fe RD | Política de Privacidad</title>
<div class= "contenedorPresentacion">
    <h3>Movimiento Defensores de la Fe Cristiana RD</h3>
    
    <div class="divisor"></div>
    
    <p class="headSubtitle">Política de Privacidad</p>
</div>

<div class="contenedorCredo">
    <h3 class="fw-normal d-flex justify-content-center">Movimiento Defensores de la Fé Cristiana República Dominicana</h3>
    <h4><strong>Política de Privacidad</strong></h4>
    
    <br>
    
    <p>En Movimiento Defensores de la Fé Cristiana, nos tomamos muy en serio la privacidad de nuestros usuarios y nos comprometemos a proteger la información personal que recopilamos. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información que nos proporcionas al utilizar nuestros servicios y visitar nuestro sitio web. </p>
    
    </p>Al utilizar nuestros servicios, aceptas los términos y condiciones de esta Política de Privacidad.</p>
    
    <h4><strong>Información que recopilamos:</strong></h4>
    
    <p><h4><strong>Información de contacto:</strong></h4> Podemos recopilar tu nombre, dirección de correo electrónico, número de teléfono u otra información de contacto cuando te registres en nuestro sitio web o nos contactes directamente.</p>
    
    <p><h4><strong>Información de identificación personal:</strong></h4> Podemos recopilar información personal como tu fecha de nacimiento, género, nacionalidad u otra información necesaria para brindarte nuestros servicios.</p>
    
    <p><h4><strong>Información de uso:</strong></h4> Recopilamos información sobre cómo utilizas nuestro sitio web, incluyendo páginas visitadas, acciones realizadas y datos de navegación.
    
    <p><h4><strong>Información de pago:</strong></h4> Si realizas compras a través de nuestro sitio web, podemos recopilar información de pago, como detalles de tarjetas de crédito o información de facturación.</p>
    
    <h4><strong>Uso de la información:</strong></h4>
    
    <ul>
    
    <li>Utilizamos la información recopilada para proporcionarte nuestros servicios, responder a tus consultas y brindarte asistencia.</li>
    
    <li>Utilizamos la información para mejorar nuestros servicios, personalizar tu experiencia y ofrecerte contenido relevante.</li>
    
    <li>Podemos utilizar la información para enviarte comunicaciones promocionales o actualizaciones sobre nuestros servicios, siempre que hayas dado tu consentimiento para recibir dichas comunicaciones.</li>
    </ul>
    <h4><strong>Protección de la información:</strong></h4>
    <ul>
    <li>Implementamos medidas de seguridad apropiadas para proteger la información personal que recopilamos y mantenerla segura.</li>
    
    <li>Limitamos el acceso a la información personal a aquellos empleados o contratistas que necesiten acceder a ella para proporcionar nuestros servicios.</li>
    </ul>
    <h4><strong>Divulgación de la información:</strong></h4>
    <ul>
    <li>Podemos compartir tu información personal con terceros proveedores de servicios que nos ayudan a brindar nuestros servicios.</li>
    
    <li>Podemos divulgar tu información personal si estamos legalmente obligados a hacerlo o si creemos de buena fe que dicha divulgación es necesaria para proteger nuestros derechos, investigar fraudes o responder a solicitudes legales.</li>
    </ul>
    <h4><strong>Tus derechos:</strong></h4>
    <ul>
    <li>Tienes derecho a acceder, corregir, actualizar o eliminar tu información personal. Puedes ejercer estos derechos comunicándote con nosotros a través de los canales indicados en la sección de contacto.
    Ten en cuenta que esta Política de Privacidad puede actualizarse periódicamente para reflejar cambios en nuestras prácticas de recopilación y uso de información. Te recomendamos revisar esta política regularmente para estar al tanto de cualquier cambio.</li>
    </ul>
    <p>Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dudes en contactarnos a través de los canales proporcionados en nuestro sitio web.</p>
    
    <p><strong>Fecha de vigencia: </strong>Agosto <span class="id">{{ next_year }}</span></p>
    

</div>

{%endblock%}