{% extends "ProyectoWebDefensores/base.html"%}
{% load static %}




{%block content%}
<title>Defensores de la Fe RD | Modifica Directiva </title>

<h2 class="fw-normal d-flex justify-content-center">Formulario Directiva</h2>
<div class="contenedorCredo">
<form action=""  method="post" style="text-align: center;" enctype="multipart/form-data">

    {%csrf_token%}
    <table style="color: white;">  {{form.as_table}}</table>
    <br><br>
    <input type="submit" value="Enviar" class="btn btn-primary">
    <input type="reset" value="Cancelar" class="btn btn-secondary">

</form>
</div>
 {%endblock%}