{% extends "ProyectoWebDefensores/base.html"%}
{% load static %}



{%block content%}
<title>Defensores de la Fe RD | Presbiterios </title>

<div class= "contenedorPresentacion">
  <h3>Movimiento Defensores de la Fe Cristiana RD</h3>
  
  <div class="divisor"></div>
  
  <p class="headSubtitle">Presbiterios</p>
</div>
{% for presb in PresbiteriosDef%}
   

<div class="row featurette" >
  <div class="col-md-7 col-sm-12">
    <h2 class="featurette-heading fw-normal lh-1">{{presb.titulo}}</h2>
    <p class="lead" style="text-align: justify; color: black;">{{presb.contenido|linebreaksbr}}</p>
  </div>
  <div class="col-md-5 col-sm-12">
    <img class="card-img-top rounded" src={{presb.imagen.url}} alt="Presbiterio">
  </div>
  
</div>
<hr class="featurette-divider">



{%endfor%}


 {%endblock%}